.toggle-card {
    box-shadow: 1px 1px 4px #ccc;
    background-color: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 40% 60%;
    margin: 5px;
    height: 150px;
    width: 125px;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
}

.editable {
    box-shadow: 1px 1px 6px rgba(33, 150, 243, 0.5);
}

.toggle-card p {
    grid-row: 1 / 2;
    margin: auto;
    padding-top: 25px;
}

.toggle-card .switch {
    grid-row: 2 / 3;
    margin: auto;
}

.edit-device-btn {
    position: absolute;
    text-align: center;
    color: #ccc;
    line-height: 35px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    right: 0;
    top: 0;
}

.edit-device-btn:hover {
    color: #999;
}